#douban-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2rem 0;
}

.douban-item {
    text-align: center;
}

.douban-item .cover {
    overflow: hidden;
    border-radius: 0.5rem 0.5rem 0 0;
}

.douban-item .cover-image {
    width: 150px;
    height: 220px;
    transition: all 0.6s ease;
}

.douban-item .cover-image:hover {
    transform: scale(1.1);
}

.douban-item .category {
    background: #f99b01;
    font-size: 0.6rem;
    font-style: italic;
    border-radius: 0 0 0.5rem 0.5rem;
    /*text-transform: capitalize;*/
}

.douban-item .title {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.douban-item .desc {
    margin-top: 0.2rem;
    font-size: 0.6rem;
}

.douban-item .star {
    width: 0.8rem;
}

.douban-item .light {
    color: #fccd59;
}

.douban-item .dark {
    color: #e5e7eb;
}
