#memos-container {
    border-radius: 0.5em;
    margin: 2rem 0;
}

#memos-header {
    background: var(--special-color-light);
    padding: 1rem;
    border-radius: 0.5rem;
    border-left: 0.5rem solid var(--special-color);
}

.dark #memos-header {
    background: #1E2224;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 1px solid var(--border);
}

.post-entry:active {
    transform: scale(0.96);
}

#memos-body {
    margin: 1rem 0;
}

#memos-load-button {
    background: var(--special-color-light);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.dark #memos-load-button {
    background: #1E2224;
}

.memos-row {
    background: var(--special-color-light);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    transition: all 0.2s ease;
}

.memos-row:hover {
    transform: scale(1.05);
}

.dark .memos-row {
    background: #1E2224;
}

.memos-row-header {
    margin-bottom: 1rem;
}

.memos-row-name {
    font-size: 1rem;
}

.memos-row-created {
    font-size: 10px;
    margin-left: 1rem;
}

.memos-tag {
    display: inline-block;
    background-color: rgba(37, 99, 235, .15);
    padding: 0 0.2rem;
    border-radius: 3px;
    line-height: 1.5;
}

.memos-row-resource {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1rem;
}

.memos-row-resource-image {
    height: 100px;
    /*width: 100px;*/
    object-fit: cover;
    vertical-align: bottom;
    display: block;
    border-radius: 0.5rem;
    transition: all 0.6s ease;
}

.memos-row-resource-image:hover {
    transform: scale(1.1);
}

.memos-row-related {
    margin-top: 1rem;
    color: #536471;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.memos-row-related > a {
    color: #536471;
}

.memos-row-related:hover {
    text-decoration: underline dotted #7f7f7f;
}

.memos-row-comment {
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .memos-row-resource {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .memos-row-resource-image {
        width: 100px;
    }
}
